<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>usability.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>92F648731D9BD81100A2ABDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92F6488A1D9BD81200A2ABDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92F648951D9BD81200A2ABDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
